<div class="app-actions-panel-container">
  <div class="actions-panel-select">
    <select (change)="setNewsSource($event)">
      <option disabled selected>Select news...</option>
      <option value="google-news">Google</option>
      <option value="bbc-news">BBC</option>
      <option value="cnn">CNN</option>
      <option value="mtv-news">MTV</option>
    </select>
  </div>
  <div class="actions-panel-filter">
    <label>
      <input type="text" name="" id="" placeholder="search" (input)="filterNews($event)"> Search News
    </label>
  </div>
  <div class="actions-panel-check">
      <label>
          <input type="checkbox">
          Show only my news
        </label>
  </div>
  <div class="actions-panel-button">
      <button>Create own news</button>
  </div>
</div>